#logo{
    height: 40px;
    border-radius: 6px;
}

.nav-link{
    color: gainsboro;
}

.nav-link:hover{
    color: chartreuse;
}

#profileIco{
    height: 40px;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
  }
  
  .sidebar.open {
    right: 0; 
    z-index: 2;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }

.list-group-item{
    background: none;
    color: gainsboro;
}